/* @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,700;1,400&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,400;1,600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --is-light: #f5f5f5;
    --bg-light: #f5f5f5;
    --link-color: #3969c4;
    --link-color-hover: #4a4a4a;
}

body,
html {
    background-color: var(--is-light);

}

body {
    /* font-family: 'Hanken Grotesk', sans-serif;*/
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2rem;
    /* background-color: var(--is-light); */
}

/* do not touch */
.main-grid {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 180ch) 1fr;
}

.sub-grid,
.cms-sub-grid {
    grid-column: 2;
    display: block;
    /* background-color: #be3434; */

}



.form-grid {
    display: grid;
    grid-template-columns: 1fr minmax(60px, 70ch) 1fr;
}

.form-grid * {
    grid-column: 2;
}

.navbar {
    z-index: 100;
}



.card-content * {
    font-weight: normal !important;
}



tbody tr:hover {
    background-color: #f1f1f1 !important;

}

tbody img {
    padding: 0;
}

.modal {
    z-index: 200;
}

.admin-table-row:hover {
    background-color: #f8e0e5 !important;
}


.cms-rooms .card:hover {
    background-color: #dceaf6 !important;
}

.cms-rooms .has-background-link-light:hover {
    background-color: #3e8ed0 !important;
}

.cms-rooms svg {
    fill: #3850b7;
}

.cms-rooms .has-background-link-light:hover {
    color: #e4e4e4 !important;
    fill: #e4e4e4 !important;
}

.has-background-link-light:hover .room-plus-svg {
    color: #e4e4e4 !important;
    fill: #e4e4e4 !important;
}

.crm .stats-card {
    /* min-height: 140px; */
}

.button-disabled {
    cursor: not-allowed;
}


.main-container {
    grid-column: 1;
    /* grid-column: 3/4; */
}

.aside {
    grid-column: 2;
    /* background-color: #818ec7; */
    /* max-width: 400px; */

}

.aside-image {
    max-height: 240px;
    object-fit: cover;
    /* margin: auto; */
}

.crm {
    grid-column: 1/3;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-light {
    background-color: var(--bg-light);
}

.room-hero {
    border-radius: .25em;
    transition: 160ms;
}

.room-hero:hover {
    background-color: #e7e9f1 !important;
}

h2 {
    display: inline-block;
}

.hr {
    background-color: #e7e7e7;
    height: 2px;
    width: 100%;
    /* margin: 1em 0; */
}

label {
    text-transform: capitalize !important;
}

button {}

/* #id_image {
    display: none;
} */

/* #id_image {
    background-color: #c5c5c5;
    padding: .4rem;
} */

/* ---------------------------------------------------------------------- */
/* typeface */
/* ---------------------------------------------------------------------- */
.hashtag,
.title-link h2 {
    color: var(--link-color) !important;
}



.title-link .title-svg {
    fill: var(--link-color);
}

.title-link h2:hover {
    color: var(--link-color-hover) !important;

}

.title-link h2:hover>.title-svg {
    fill: var(--link-color-hover);
}

/* .title-svg:hover {
    fill: var(--link-color) !important;
} */

/* svg:hover {
    fill: var(--link-color-hover);
} */
.chat-svg-path {
    color: #be3434 !important;
}

label {
    font-weight: 400 !important;
}

input #id_tags {
    padding: 1em !important;
    background-color: #3969c4;
}

.google {
    color: var(--is-light);
    background-color: #ff0000;
    border: none;
}

.google-svg::before {
    content: '';
    background-image: url('/board_app/static/board_app/icons/google.svg');
    width: 1.2em;
    height: 1.2em;
    background-size: cover;
    display: block;
    /* background-size: 40px 40px; */
    fill: #3e8ed0;
    background-color: #adb6db;
}

/* ---------------------------------------------------------------------- */
/*   post */
/* ---------------------------------------------------------------------- */


.post-image {
    max-height: 400px;
    object-fit: cover;
    object-position: 50% 10%;
}

/* ---------------------------------------------------------------------- */
/*   the post-footer */
/* ---------------------------------------------------------------------- */
.post-footer {
    display: flex;
    font-size: .8rem;
}

.post-footer p:not(:last-child) {
    padding-right: 1rem;
}

.post-footer a:not(:last-child) {
    padding-right: 1rem;
}

.post-edit-container {
    display: block;
    width: 100%;
}




/* ---------------------------------------------------------------------- */
/* comment section */
/* ---------------------------------------------------------------------- */
.comment-container {}

/* ---------------------------------------------------------------------- */
/* the aside */
/* ---------------------------------------------------------------------- */
.post-container img {
    width: 100%;
}


.post-container a {
    display: inline-flex;
    align-items: center;
}



.post-container-index p img:first-child {
    height: 200px;
    object-fit: cover;
    object-position: 50% 30%;

}

.desktop-searchbar {
    display: none;
}

.searchbar svg {
    fill: #e0e0e0;
}

/* ---------------------------------------------------------------------- */
/* the tags */
/* ---------------------------------------------------------------------- */
.tag-container:not(:last-child) {
    display: inline-block;
    padding-right: 1rem;
}

.tag-container {
    display: inline-block;
    /* padding-bottom: 1rem; */
}



.tagwidget {
    background-color: #ffffff;
    border-radius: 4px;

}

.tagify__input:active.tagwidget {
    border-color: #485fc7 !important;
    outline: #cbd1eb 2px solid !important;
}

.tagwidget--focus:active {
    border-color: #485fc7 !important;
    outline: #cbd1eb 2px solid !important;
}

.title-link * {
    color: var(--link-color) !important;

}


@media screen and (min-width: 1023px) {

    .sub-grid {
        grid-column: 2;
        display: grid;
        /* grid-template-columns: 2fr 30%; */
        grid-template-columns: 3fr 1.4fr;

        /* background-color: #be8787; */
        /* padding: 1em; */

    }

    .cms-sub-grid {
        grid-column: 2;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2em;
    }

    .cms-rooms {
        grid-column: 2/3;
        /* background-color: #3969c4; */
    }


    .desktop-searchbar {
        display: block;
    }

    .mobile-searchbar {
        display: none;
    }

    .searchbar-section {
        padding-top: 3.4rem !important;
    }
}

/* ---------------------------------------------------------------------- */
/* the toast */
/* ---------------------------------------------------------------------- */
.toast-container {
    position: fixed;
    padding: 1em;
    right: 0;
    z-index: 100;
    width: 100%;
}


.cart_toast-container {
    top: 0;
}

.toast-container {
    top: 3rem;
}

.notification.visibility,
.toast-container.visibility {
    display: none;
}


/* ---------------------------------------------------------------------- */
/* quill */
/* ---------------------------------------------------------------------- */
p img {
    margin: auto;
    display: flex;
}

.ql-editor img {
    max-width: 600px;
    padding: 1em;
    /* display: flex; */
    /* justify-content: center; */
}

.ql-editor {
    min-height: 200px;
    font-size: 1rem;
    background-color: #fcfcfc;
}

.comment-container h3,
.post-container h3:not(.tags) {
    font-size: 1.4rem;
}

.comment-container h2,
.post-container h2:not(.tags) {
    font-size: 1.6rem;
}

.comment-container h1,
.post-container h1:not(.tags) {
    font-size: 2.2rem;
}

/* .comment-container p,
.post-container p {
    padding: 4px;
} */

/* .ql-editor img {
    max-width: 100px;
    max-height: 300px;
} */


@media only screen and (min-width: 668px) {
    .toast-container {
        width: clamp(200px, 60%, 500px);
    }
}


@media only screen and (min-width: 768px) {

    .crm .stats-card {
        min-height: 140px;
    }

}