<script>
    document.addEventListener('DOMContentLoaded', () => {

        // toast script
        $(".delete").on("click", function () {
            $(".toast-container").addClass("visibility");
        });
        //    $(".delete").on("click", function () {
        //       $(".cart_toast-container").addClass("visibility");
        //    });
        $(".toast-container").show();
        setTimeout(function () {
            $(".toast-container").fadeOut("slow");
        }, 1200);


        $(".delete").on("click", function () {
            $(".notification").addClass("visibility");
        });
    });
</script>
