{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="section form-centered">
    <h3 class="subtitle is-3">{% trans "Password Reset" %}</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="is-size-6">
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset mt-4">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="button is-success mt-4" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
    <p class="pt-6">{% blocktrans %}Please contact us if you have any trouble resetting your
        password.{% endblocktrans %}</p>
</section>
{% endblock %}
