{% extends 'board_app/base.html' %}
{% block title %} - Post{% endblock %}
{{ form.media }}


{% block content %}
<div class="crm columns">
    <section class="section column is-8 is-offset-2">
        <h2 class="subtitle is-2">Create an Article</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">

                {{ form|crispy }}
                <button type="submit" class="button is-success mt-2">Post your Article</button>
            </fieldset>
        </form>
    </section>
</div>

<script>
    // initialize Tagify
    var input = document.querySelector('[name=tags]'),
        // init Tagify script on the above inputs
        tagify = new Tagify(input, {
        });


</script>
{% endblock content %}
