{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- htmx -->
        <script src="https://unpkg.com/htmx.org@1.8.4"></script>
        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <!-- jQuery tag -->
        <script src="{% static 'board_app/js/jQuery.tagify.min.js' %}"></script>
        <!-- bulma cdn -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

        <!-- my css -->
        <link rel="stylesheet" type="text/css" href="{% static 'board_app/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'board_app/css/navbar.css' %}">
        <!-- jQuery tag css -->
        <link rel="stylesheet" type="text/css" href="{% static 'board_app/css/tagify.css' %}">
        <title>Blog {% block title %}{% endblock %}</title>
    </head>

    <body class="main-grid">
        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
            {% if level == 50 %} {# cart #}
            {% include 'includes/toast/cart_toast.html' %}
            {% elif level == 40 %} {# warning #}
            {% include 'includes/toast/warning.html' %}
            {% elif level == 30 %} {# danger #}
            {% include 'includes/toast/danger.html' %}
            {% elif level == 25 %} {# success #}
            {% include 'includes/toast/success.html' %}
            {% else %}
            {% include 'includes/toast/info.html' %}
            {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
        {% endif %}

        {% include 'board_app/components/navbar.html' %}
        <div class="sub-grid">
            {% block content %}{% endblock content %}
        </div>

        <!-- script -->

        {% include 'includes/navbar_toast_scripts.html' %}

        <!-- jQuery tag -->
        <!-- <script>
            $('[name=tags]').tagify();
        </script> -->
    </body>

</html>
