{% extends 'board_app/base.html' %}
{% block title %} - Homepage{% endblock %}


{% block content %}
<main>
    <div class="mobile-searchbar">
        {% include 'board_app/components/searchbar.html' %}
    </div>
    <section class="blog-posts">
        {% include 'board_app/components/post_list_elements.html' %}
    </section>
</main>
<aside class="aside">
    <!-- searchbar -->
    <div class="desktop-searchbar">
        {% include 'board_app/components/searchbar.html' %}
    </div>
    <!-- tags -->
    <div class=aside-posts">
        {% sidebar_tag_cloud %}
    </div>
    <!-- rooms -->
    <div class="desktop-searchbar">
        {% include 'board_app/components/rooms.html' %}
    </div>
</aside>

{% endblock content %}
