{% extends 'board_app/base.html' %}
{% block title %}- {{ post.title }}{% endblock %}
{% load %}
{% block content %}
<main>
    <div class="mobile-searchbar">
        {% include 'board_app/components/searchbar.html' %}
    </div>
    <section class="section">
        <div class="post-container">
            <div class="mb-4">
                <h2 class="subtitle is-2">{{ post.title }}</h2>
            </div>
            <div class="columns is-multiline">
                {% if not post.image %}
                {% else %}
                <div class="column is-12">
                    <img src="{{ post.image.url }}" alt="">
                </div>
                {% endif %}
                <div class="column">
                    <p class="is-size-2">{{ post.content.html|safe }}</p>
                </div>
            </div>

            {% if object.author == user %}
            <div class="post-edit-container pt-5 pb-2">
                <a class="button is-small is-dark is-outlined mr-2" href="{% url 'edit_post' post.slug %}">Edit
                    post</a>
                <a class="button is-small is-danger is-outlined" href="{% url 'delete_post' post.slug %}">Delete
                    post</a>
            </div>
            {% endif %}

            <div class="post-footer mt-2 is-size-6">
                <p>[Author] {{ post.author }}</p>
                <p>{{ post.date_posted|date:'d-M-Y g:ia' }}</p>
            </div>
            <div class="post-footer mt-2 flex is-size-6">
                <div>
                    <div class="flex">
                        <!-- comment icon link -->
                        <a class="pr-0" href="{% url 'add_comment' post.pk %}">
                            <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20"
                                height="20">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path d="M10 3h4a8 8 0 1 1 0 16v3.5c-5-2-12-5-12-11.5a8 8 0 0 1 8-8z"
                                    fill="rgba(137,137,137,1)" />
                            </svg>
                            <p class="has-text-grey">{{ post.comments.count }}
                                comment{{ post.comments.count|pluralize }}
                            </p>
                        </a>
                        <!-- {{ user.username }}
                        {{ user.id }} -->



                        {% comment %}
                        <!-- {% if user.is_authenticated %}
                        <div class="likes pl-2">
                            <a href="#" hx-post="{% url 'like_post' post.slug %}"
                                hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>
                                <span class="likes-count has-text-grey">
                                    {% if request.user in post.like.all %}

                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20"
                                            height="20">
                                            <path
                                                d="M12.001 4.52853C14.35 2.42 17.98 2.49 20.2426 4.75736C22.5053 7.02472 22.583 10.637 20.4786 12.993L11.9999 21.485L3.52138 12.993C1.41705 10.637 1.49571 7.01901 3.75736 4.75736C6.02157 2.49315 9.64519 2.41687 12.001 4.52853Z"
                                                fill="rgba(207,32,32,1)"></path>
                                        </svg>
                                    </span>
                                    <img src="../../static/board_app/" alt="">

                                    {{ post.like.count }} unlike
                                    {% else %}

                                    <img src="" alt="">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20"
                                            height="20">
                                            <path
                                                d="M12.001 4.52853C14.35 2.42 17.98 2.49 20.2426 4.75736C22.5053 7.02472 22.583 10.637 20.4786 12.993L11.9999 21.485L3.52138 12.993C1.41705 10.637 1.49571 7.01901 3.75736 4.75736C6.02157 2.49315 9.64519 2.41687 12.001 4.52853Z"
                                                fill="rgba(137,137,137,1)"></path>
                                        </svg>
                                    </span>

                                    {{ post.like.count }} like
                                    {% endif %}
                                </span>
                            </a>
                        </div>
                        {% endif %} -->
                        {% endcomment %}



                    </div>
                </div>
            </div>
            <span class="pl-4">
                {% for tag in post.tags.all %}
                <a class="has-text-weight-bold" href="{% url 'tag_post_page' tag.slug %}">
                    <p>#{{ tag.name }}</p>
                </a>
                {% endfor %}
            </span>
        </div>
        <div class="hr mt-5"></div>

        <a class="button is-success mt-5" href="{% url 'add_comment' post.pk %}">
            add a comment
        </a>
        <div class="comment-container mt-4">
            {% include 'board_app/components/comment_section.html' %}
        </div>
    </section>
</main>
<aside class="aside">
    <div class="desktop-searchbar">
        {% include 'board_app/components/searchbar.html' %}
    </div>
    <div class=aside-posts">
        {% sidebar_tag_cloud %}
        {% include 'board_app/components/author_post_list_elements.html' %}
    </div>
</aside>
{% endblock content %}