<!-- comment section -->
<div>
    {% if not post.comments.all %}
    {% else %}
    <h3 class="subtitle is-3">Latest Comments</h3>
    {% endif %}

    {% for comment in post.comments.all %}
    <div class="columns  pb-6">

        <div class="column is-narrow">
            <figure class="image container is-48x48 ml-0">
                <img class="is-rounded" src="{{ post.author.profile.image.url }}" height="60" alt="">
            </figure>
        </div>

        <div class="column is-10">
            <p>{{ comment.content.html|safe }}</p>
            {% if object.author == user %}
            <div class="post-edit-container pt-4 pb-1">
                <a class="button is-small is-danger is-outlined"
                    href="{% url 'delete_comment' post.slug  comment.id%}">Delete
                    comment</a>
            </div>
            {% endif %}
            <div class="post-footer mt-2">
                <p>[Author] {{ comment.author }}</p>
                <p>{{ comment.date_posted|date:'d-M-Y g:ia' }}</p>
            </div>
        </div>

    </div>












    {% endfor %}

    {# pagination #}
    <div class="pt-6">
        {% if is_paginated %}
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if page_obj.has_previous %}
            <a class="pagination-previous button is-dark is-outlined" href="?page=1">First Page</a>
            <ul class="pagination-list">
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% else %}
                <a class="pagination-previous is-disabled" disabled href="?page=1">First Page</a>
                <ul class="pagination-list">
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li><a class="pagination-link button is-dark" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li><a class="pagination-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                </ul>
                <a class="pagination-next button is-dark is-outlined"
                    href="?page={{ page_obj.paginator.num_pages }}">Last
                    page</a>
                {% else %}
            </ul>
            <a class="pagination-next is-disabled" disabled href="?page={{ books.paginator.num_pages }}">Last
                page</a>
            {% endif %}
        </nav>
        {% endif %}
    </div>
</div>
