<div class="section">
    <div class="">
        <button type="button"
            class="button is-outlined is-info accordion__button accordion__button--active is-medium is-fullwidth"
            aria-label="more options">
            <span>Rooms</span>
            <!-- <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;">
                    <path d="M4 19h16v2H4zm0-4h11v2H4zm0-4h16v2H4zm0-8h16v2H4zm0 4h11v2H4z"></path>
                </svg>
            </span> -->
        </button>
        <div class="accordion__content is-fullwidth pt-2">

            {% for category in categories %}
            <a href="/room/{{category.slug}}" class="py-2">
                <div class="p-2 room-hero">
                    <h3 class="subtitle is-3 hashtag mb-2">
                        {{ category.name|title }}
                    </h3>
                    <p class="subtitle">
                        The room to discuss everything {{ category.name|title }} related
                    </p>
                    {% include 'board_app/components/category_snip.html' %}
                </div>
                {% endfor %}
            </a>
            <!-- <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> -->
        </div>
    </div>

    <div class="section">

        {# pagination #}
        <!-- <div class="pt-6">
            {% if is_paginated %}
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if page_obj.has_previous %}
                <a class="pagination-previous button is-dark is-outlined" href="?page=1">First Page</a>
                <ul class="pagination-list">
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {% else %}
                    <a class="pagination-previous is-disabled" disabled href="?page=1">First Page</a>
                    <ul class="pagination-list">
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li><a class="pagination-link button is-dark" href="?page={{ num }}">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li><a class="pagination-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                    </ul>
                    <a class="pagination-next button is-dark is-outlined"
                        href="?page={{ page_obj.paginator.num_pages }}">Last
                        page</a>
                    {% else %}
                </ul>
                <a class="pagination-next is-disabled" disabled href="?page={{ books.paginator.num_pages }}">Last
                    page</a>
                {% endif %}
            </nav>
            {% endif %}
        </div> -->
    </div>

</div>

<script>
    //  controls the accordion (for rooms)
    document.addEventListener('DOMContentLoaded', () => {

        document.querySelectorAll('.accordion__button').forEach(button => {
            button.addEventListener('click', () => {

                button.classList.toggle('accordion__button--active');
                //                console.log('click')
            })
        })

    });
</script>