{% extends 'board_app/base.html' %}

{% block content %}
<section class="section is-narror">
    <h2 class="subtitle is-2">CRM</h2>
    <p class="subtitle is-6">Customer Relationship Management</p>


    <div>
        <div class="card has-background-primary has-text-white-bis">
            <div class="card-content">
                <div class="content">
                    <p>{{ users.count }} user accounts</p>
                </div>
            </div>

            <!-- <p>{{ user.all.is_active }} users active</p> -->

        </div>
    </div>

    <h3 class="subtitle is-3 mt-6">Rooms</h3>

    {% for category in categories %}
    <a href="/room/{{category.slug}}">
        <div class="card mb-4 has-background-info-light has-text-info-dark">
            <div class="card-content">
                <div class="content">
                    <p>{{category.name}}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}


    <h3 class="subtitle is-3 mt-6">All Users</h3>
    <div class="table-container">
        <table class="table table is-bordered
        table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr class="has-background-grey-dark">
                    <th class="has-text-white-ter">username</th>
                    <!-- <th class="has-text-white-ter">posts</th> -->
                    <th class="has-text-white-ter">email</th>
                    <th class="has-text-white-ter">date joined</>
                    <th class="has-text-white-ter">Id</th>
                    </th>
                </tr>
            </thead>
            {% for user in users %}
            <tbody>
                <tr>
                    <!-- <th><a href="{% url 'user_crm' user.id %}">{{ user }}</a></th> -->
                    <th><a href="{% url 'user_crm' user.username %}">{{ user }}</a></th>
                    <!-- <td>{{ user.username.post.count }}</td> -->
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined|date:'d-M-Y g:ia' }}</td>

                    <th>{{ user.id }}</th>

                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>


    {# pagination #}
    <div class="pt-6">
        {% if is_paginated %}
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if page_obj.has_previous %}
            <a class="pagination-previous button is-dark is-outlined" href="?page=1">First Page</a>
            <ul class="pagination-list">
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% else %}
                <a class="pagination-previous is-disabled" disabled href="?page=1">First Page</a>
                <ul class="pagination-list">
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li><a class="pagination-link button is-dark" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li><a class="pagination-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                </ul>
                <a class="pagination-next button is-dark is-outlined"
                    href="?page={{ page_obj.paginator.num_pages }}">Last
                    page</a>
                {% else %}
            </ul>
            <a class="pagination-next is-disabled" disabled href="?page={{ books.paginator.num_pages }}">Last
                page</a>
            {% endif %}
        </nav>
        {% endif %}
    </div>
</section>
{% endblock content %}
