{% extends 'board_app/base.html' %}

{% block content %}
<div class="crm columns">
    <section class="section column is-6 is-4-desktop is-offset-3 is-offset-4-desktop">

        <form method="post">{% csrf_token %}
            <h2 class="subtitle is-4">Are you sure you want to delete user "{{ object }}"?</h2>
            <p class="has-text-grey">All their posts and comments will be permanently deleted.</p>
            {{ form }}
            <br>
            <input class="button is-danger" type="submit" value="Confirm">
        </form>



    </section>
</div>
{% endblock content %}
